@import "styles/variables.module.scss";

form {
  input,
  select,
  textarea {
    margin-bottom: 40px;
  }

  select {
    background-color: transparent;
    padding: $inputPad;
    border: none;
    border-bottom: 1px solid $border-light;
  }

  textarea {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  button {
    padding: $buttonPad;
    background: $bg-dark;
    color: white;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}
